*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #666666;
    align-items: center;
    padding: 1rem 3rem;
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
    color: antiquewhite;
    margin: 0 auto;
}
nav ul li{
    display: inline-block;
}
nav{
    display: flex;
    justify-content: flex-start;
    flex: 3;
}
h1{
    display: flex;
    flex: 1;
    font-weight: initial;
    /*margin-right: -5rem;*/

}
.search{
    border: 1px solid antiquewhite;
    border-radius: 1rem;
    padding: 0.5rem 15rem 0.5rem 1rem;
    margin-right: 1rem;
}
.left{
    width: 50%;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    margin-right: 50px;
    align-items: flex-start;
    justify-content: space-between;
}
.right{
    width: 50%;
    display: flex;
    flex-direction: column;

}
.container{
    width: 100%;
    display: flex;
    align-items: stretch;
    margin: 50px;
    align-content: space-between;

}
.main_pic{
    width: 100%;
}
.main_pic img{
    width: 100%;
}
.small_pic{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}
.small_pic img{
    width: calc(90% / 4);
}
.options{
    position: relative;
    width: 100%;
}
#size{
    width: 100%;
}
#size ul li{
    font-size: 0.7rem;
    display: inline-block;
    border: 1px solid #c0b9b9;
    border-radius: 0.3rem;
    padding: 0.6rem 0.6rem;
    text-align: center;
    color: #c0b9b9;
    font-family: Arial, Helvetica, sans-serif;
}
.options li{
    width: 2.2rem;
}
#quantity ul li{
    font-size: 0.7rem;
    display: inline-block;
    border: 1px solid #c0b9b9;
    border-radius: 0.3rem;
    padding: 0.6rem 0.6rem;
    text-align: center;
    color: #c0b9b9;
    font-family: Arial, Helvetica, sans-serif;
}
#quantity{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
.add_btn{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    border-radius: 1rem;
    width: max-content;
    background: #4c4c4c;
    color: antiquewhite;
    padding: 0.5rem 2rem;
    font-size: 0.8rem;
}
div{
    /*border: 1px dotted black;*/
}
.dot{
    position: absolute;
    color: #fd75c8;
    font-size: 4rem;
    right: 4rem;
    top: -0.6rem;
    border: 0 solid #fd75c8;
}
main{
    width: 100%;
    display: flex;
}
